body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

a {
    text-decoration: none;
    font-weight: 500;
}

img {
    object-fit: contain;
    height: auto;
    width: 100%;
}

.info {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 18rem;
    
    font-weight: 500;
    font-size: 16px;
}

.link-collection {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

h1 {
    font-size: 27px;
    font-weight: 700;
}

.images-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 20rem;
    padding: 0 4rem;
}

.three-column-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.two-column-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.one-column-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}


@media (width <= 1000px) {
    .images-container {
        margin-left: 0;
        padding: 1rem;
    }
    
    .three-column-grid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .two-column-grid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .one-column-grid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .info {
        width: 100%;
        padding: 1rem;
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
